<img class="animate-show background" image-change ng-src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/KogMaw_3.jpg" />

<div class="row content">
	<div class="medium-9 columns card" style="z-index:0;">
		<h4>I wanna checkout out the code!? Where can I find that?!</h4>
		Our code is hosted on <a href = "https://github.com/DerekHunter/MasteryGraphs" style = "color:black;">github</a>.
		<hr>
		<h4>What technology did you use to build this amazing slice of awesomness?!</h4>
		We built the whole thing on the MEAN(Mongo Express Angular Node) stack... Cause we're hipster developers like that.
		<hr>
		<h4>How did you come up with these awesome recommendations!?!?</h4>
		We used a method similar to <a href ="https://en.wikipedia.org/wiki/Cluster_analysis" style = "color:black;">cluster analysis</a>, where we clustered champions based on champion mastery.
		Figuring actions speak louders than words. So if a lot of people play a lot of x and y, we can recommend y to someone who plays x.
		<hr>
		<h4>YOUR RECOMMENDATIONS SUCK! I WANT MY MONEY BACK!</h4>
		We're sorry =(. Some of the recommendations are caused by the fact that less popular champions are harder to analyze than more popular champions.
		<hr>
		<h4>IF YOU WIN WILL YOU MYSTERY GIFT ME?</h4>
		No.  :)
		</div>
</div>