<div class="row content">
	<div class="medium-centered medium-12 columns card" style="z-index:0;">
		<h4>I wanna checkout out the code!? Where can I find that?!</h4>
		Our code is hosted on <a href = "https://github.com/DerekHunter/MasteryGraphs" style = "color:black;">github</a>.
		<hr>
		<h4>I want to run this myself! How do I do that?!</h4>
		Goodluck. If you want to do that we have some documentation <a href = "https://github.com/DerekHunter/MasteryGraphs" style = "color:black;">here</a> about how to do that.
		However, it's really not recommended our codebase is a mess =(.
		<hr>
		<h4>What technology did you use to build this amazing slice of awesomness?!</h4>
		We built the whole thing on the MEAN(Mongo Express Angular Node) stack... Cause we're dev hipsters like that.
		<hr>
		<h4>How did you come up with these awesome recommendations!?!?</h4>
		Well, we sat around, and thought real hard... But in the end it didn't even matter.
		So we wrote some code, and what we came up with a way(based on champion mastery data) to tell how similar champions are
		and give all that awesomeness to you.
		<hr>
		<h4>YOUR RECOMMENDATIONS SUCK! I WANT MY MONEY BACK!</h4>
		We're sorry =(. Some of the recommendations are caused by the fact that less popular champions are harder to analyze than more popular champions.
		</div>
</div>