<div class="row content">
	<div class="medium-centered medium-12 columns card" style="z-index:0;">
		I wanna checkout out the code!? Where can I find that?!
		Our code is host on github https://github.com/DerekHunter/MasteryGraphs

		I want to run this myself! How do I do that?!
		Goodluck. If you want to do that we have some documentation here https://github.com/DerekHunter/MasteryGraphs about how to do that.
		However, it's really not recommended our codebase is a mess =(.

		What technology did you use to build this amazing slice of awesomness?!
		We
	</div>
</div>