
<div>
	<img class="animate-show previous-image"   ng-src="{{ ctrl.prevImage }}" ng-show="ctrl.image != ctrl.prevImage" />
	<img class="animate-show" image-change ng-src="{{ ctrl.image }}" />
</div>
<div ng-if="ctrl.isReady">
	<div class="row content">
		<div class="medium-centered medium-12 columns card" style="z-index:0;">
			<div class="row">
				<div class = "medium-centered medium-10 columns chart-title">
					Mastery Histogram
				</div>
			</div>
			<div class="graph">
				<canvas id="bar" class="chart chart-bar"
					chart-data="ctrl.graphData" chart-labels="ctrl.labels" chart-series="ctrl.series">
				</canvas>
			</div>
			<div class="row">
				<div class = "medium-6 columns">
					<form name="LeagueSelector">
						<label for="league"> League select: </label>
						<select name="leagueSelector" id="ctrl.leagueSelector" ng-model="ctrl.currentLeague">
							<option ng-repeat="league in ctrl.leagues" value="{{league}}">{{league}}</option>
						</select>
					</form>
				</div>
				<div class = "medium-6 columns">
					<form name="ChampionSelector">
						<label for="Champion"> Champion select: </label>
						<select name="championSelector" id="championSelector" ng-model="ctrl.currentChampionName" value="{{ctrl.currentChampion.name}}">
							<option ng-repeat="champion in ctrl.staticData" value="{{champion.name}}">
								{{champion.name}}
							</option>
						</select>
					</form>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class = "medium-6 columns stat-label">
					LEAGUE AVERAGE:
				</div>
				<div class="medium-6 columns stat-value">
					{{ctrl.leagueAverage}}
				</div>
			</div>
			<hr>
			<div class="row">
				<div class = "medium-6 columns stat-label">
					REGION AVERAGE:
				</div>
				<div class="medium-6 columns stat-value">
					{{ctrl.regionAverage}}
				</div>
			</div>
			<hr>
			<div>
			Recommender
			</div>
		</div>
	</div>
</div>

