body{
	background-color:#fafafa;
	font-family: 'Roboto', sans-serif;
}

.stat-value{
	text-align: right;
}

.chart-title{
	text-align: center;
	font-size: 18px;
}



.header{
	position: fixed;
	opacity: .75;
	background-color:#333;
	color:white;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	height:64px;
	box-shadow:0 3px 6px rgba(0,0,0,0.26);
	font-size: 28px;
	line-height: 64px;
	font-weight: normal;
	text-align: center;
}

.card{
	opacity: .95;
	margin-top:128px;
	padding:1em;
	background-color:#ffffff;
	box-shadow:0 3px 6px rgba(0,0,0,0.26);
}

.animate-show.ng-hide-fade {
  opacity: 0;
  transition: 0s all linear;
  -webkit-transition: 0s all linear;
  z-index: -1;
}
.animate-show.ng-show {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: .5s all linear;
  -webkit-transition: 1s all linear;
  z-index: -1;
}

.previous-image {
  opacity: .5;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
}

.pointer {
  cursor: pointer;
}

img.thumb.small {
  max-width: 50px;
  max-height: 50px;
}
img.active {
  border: 2px solid black;
  opacity: 0.8;
}
